.DS_Store
dpcm16kbbackup
practiceprograms
MakeDPCM
*.o
*.nes
*.dbg

.cache
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CLion
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#cmake-build-*


build


# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
hardware/*.000
hardware/*.bak
hardware/*.bck
hardware/*.kicad_pcb-bak
hardware/*.kicad_sch-bak
hardware/*-backups
hardware/*-cache*
hardware/*-bak
hardware/*-bak*
hardware/*~
hardware/~*
hardware/_autosave-*
hardware/\#auto_saved_files\#
hardware/*.tmp
hardware/*-save.pro
hardware/*-save.kicad_pcb
hardware/fp-info-cache
hardware/~*.lck
hardware/\#auto_saved_files#

# Netlist files (exported from Eeschema)
hardware/*.net

# Autorouter files (exported from Pcbnew)
hardware/*.dsn
hardware/*.ses

# Exported BOM files
hardware/*.xml
hardware/*.csv

# Archived Backups (KiCad 6.0)
hardware/**/*-backups/*.zip

# Local project settings
hardware/*.kicad_prl
