MEMORY {
    ZP:     start = $00,    size = $0100, type = rw, file = ""; # $00 in CPU memory
    OAM:    start = $0200,  size = $0100, type = rw, file = "";
    RAM:    start = $0300,  size = $0500, type = rw, file = "";
    HDR:    start = $0000,  size = $0010, type = ro, file = %O, fill = yes, fillval = $00; # $00 in ROM file
    PRG_SAMPLES: start = $0000, size = $38000, file = %O, fill = yes; # swappable bank: 13 * 16KB = 208KB 
    PRG_FIXED:   start = $C000, size = $4000,  file = %O, fill = yes; # 16KB fixed bank
    CHR:    start = $0000, size = $2000, type = ro, file = %O, fill = yes, fillval = $00; # $00 in PPU memory
}

SEGMENTS {
    ZEROPAGE: load = ZP,  type = zp;
    # OAM:      load = OAM, type = bss, align = $100;
    BSS:      load = RAM, type = bss;
    HEADER:   load = HDR, type = ro;

    # Program core -> in the fixed program bank (C000 - FFFA)
    CODE:     load = PRG_FIXED, type = ro, start = $C000;
    
    # Vectors need to start at $FFFA, but still load in the fixed bank (ld65 handles this)
    VECTORS:  load = PRG_FIXED, type = ro, start = $FFFA;

    # Mapped samples -> in switchable banks
    DPCM0:   load = PRG_SAMPLES, type = ro, offset = $00000; # Bank 1
    DPCM1:   load = PRG_SAMPLES, type = ro, offset = $04000; # Bank 2
    DPCM2:   load = PRG_SAMPLES, type = ro, offset = $08000; # Bank 3
    DPCM3:   load = PRG_SAMPLES, type = ro, offset = $0C000; # Bank 4
    DPCM4:   load = PRG_SAMPLES, type = ro, offset = $10000; # Bank 5
    DPCM5:   load = PRG_SAMPLES, type = ro, offset = $14000; # Bank 6
    DPCM6:   load = PRG_SAMPLES, type = ro, offset = $18000; # Bank 7
    DPCM7:   load = PRG_SAMPLES, type = ro, offset = $1C000; # Bank 8
    DPCM8:   load = PRG_SAMPLES, type = ro, offset = $20000; # Bank 9
    DPCM9:   load = PRG_SAMPLES, type = ro, offset = $24000; # Bank 10
    DPCM10:  load = PRG_SAMPLES, type = ro, offset = $28000; # Bank 11
    DPCM11:  load = PRG_SAMPLES, type = ro, offset = $2C000; # Bank 12
    DPCM12:  load = PRG_SAMPLES, type = ro, offset = $30000; # Bank 13
    RODATA:  load = PRG_SAMPLES, type = ro, offset = $34000;
}